<div class="list row">
  <div class="col-md-8 col-lg-12">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-8">
    <h4>Post List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let post of posts; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePost(post, i)"
      >
        {{ post.title }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="updateDatabase()">
      Update Database
    </button>

  </div>
  <div class="col-md-6 col-lg-4">
    <div *ngIf="currentPost">
      <h4>Post</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentPost.title }}
      </div>
      <div>
        <label><strong>Body:</strong></label>
        {{ currentPost.body }}
      </div>

      

      <a class="badge badge-warning" routerLink="/post/{{ currentPost.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentPost">
      <br />
      <p>Please click on a Post...</p>
    </div>
  </div>
</div>
